.calculator {
    border: 1px solid rgba(90, 90, 90);
    width: 340px;
    height: 500px;
    border-radius: 10px;
    border: 2px solid white;
    margin-top: 100px;
     background-color: burlywood;
    padding-top: 10px;
    padding-bottom: 20px;
    color: #212121;
  }
 
 
  
 